#content-inner {
  max-width: none;
}

#post {
  width: 98%;
}

#fileInputSection {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#fileInput,
#compareButton {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#compareButton {
  background-color: #625bfd;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

#compareButton:hover {
  background-color: #ef7040;
  transform: scale(1.05);
}

.select-buttons {
  margin: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.select-button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
}

.select-button.active {
  color: white;
  background-color: #625bfd;
}

.select-button:hover {
  color: white;
  background-color: #ef7040;
  transform: scale(1.05);
}

#timeButton {
  border-right:none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#distanceButton {
  border-left:none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.file-info-table-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}

.file-info-table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 800px; /* 确保表格在小屏幕上有滚动条 */
}

.file-info-table th,
.file-info-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.file-info-table th {
  background-color: #f4f4f4;
}

.file-info-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

#charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.chart-container {
  width: 100%;
  max-height: 750px;
  position: relative;
}

.chart-container:hover .chart-tooltip {
  display: block; /* 鼠标悬停时显示 */
}

#charts canvas {
  width: 100% !important;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
}

.chart-controls button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.chart-controls button:hover {
  background-color: #f0f0f0;
}

.chart-controls i {
  font-size: 16px;
}

.chart-tooltip {
  position: absolute;
  top: 40px; /* 调整至右上角 */
  right: 10px; /* 调整至右上角 */
  padding: 5px 0px;
  font-size: 10px;
  text-align: right;
  display: none; /* 默认隐藏 */
}

#loadingIndicator {
  text-align: center;
  margin-top: 20px;
}

#loadingIndicator p {
  font-size: 16px;
  margin-bottom: 10px;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #625bfd;
  animation: spin 1s ease-in-out infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#processingTimeContainer {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
